<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_accueil') }}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav navbar-right d-flex">
                {% if app.user %}
                <li><a class="nav-link" href="{{ path('app_films') }}">Ajouter un film</a></li>
                <li><a class="nav-link" href="{{ path('show_films') }}">Mes films</a></li>
                <li><a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% endif %}
                {% if not app.user %}
                <li><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                <li><a class="nav-link" href="{{ path('app_registration') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>